<%- include('includes/header') %>


<body>

  
    <%- include('includes/navbar') %>

<div style="
  transform: scale(1.3);
  transform-origin: center center;

">
  <%- include('includes/animation') %>
</div>
</body>

<%- include('includes/footer') %>