<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
	<%- include('includes/navbar') %>

	<div class="main-container">
		<div class="container-items">
			<form class="login-container" action="/admin/login" METHOD="POST">
				<div class="login-frame">
					<div class="login-top">
						<span>Login into your account</span>
					
					</div>
					<div class="login-input-frame">
						<div class="login-input-container">
         
							<label>Restaurant *</label>
							<input
								type="text"
								name="memberNick"
								class="member-nick"
								placeholder="Username"
								value=""
								required
							/>
						</div>
						<div class="login-input-container">
							<label>Password *</label>
							<input
								type="password"
								name="memberPassword"
								class="member-password"
								placeholder="Password"
								value=""
								required
							/>
						</div>
					</div>
					<button class="login-btn btn" name="login" type="submit">
						Login
					</button>

          
				</div>
        	<p>
							Not registered yet?
							<a href="/admin/signup" style="color: #494747; font-size: 18px;">Signup</a>
						</p>
			</form>
		</div>
		<div class="container-items"><%- include('includes/animation') %></div>
	</div>
</body>

<%- include('includes/footer') %>
